-unless current_user&.liked?(resource)
  = link_to "#{resource.likes.count} ❤", post_likes_path(resource),
                                     class: "like-#{resource.class.name.downcase}-link btn btn-outline-primary",
                                     method: :post,
                                     remote: true
-else
  = link_to "#{resource.likes.count} 💛", like_path(id: resource, likeable_type: resource.class.name),
                                     class: "like-#{resource.class.name.downcase}-link btn btn-danger",
                                     method: :delete,
                                     remote: true
