@import 'bootstrap/dist/css/bootstrap';

textarea { 
  resize: none;
}

.dropdown-divider {
  border-width: 2px;
}

.btn-xs {
  padding: .25rem;
  font-size: .75rem;
  line-height: .5;
}

.small-font {
  font-size: .75rem;
}

.btn {
  border-radius: 0px;
}
